/* Color Palette */
// :root {
//     --c-bg-darker: #141321;
//     --c-bg-dark: #201f27;
//     --c-bg-card-light: #dfe0d8;
//     --c-bg-card-dark: #18171d;
//     --c-bg-panel: #363948;
//     --c-text-dark: var(--bg-dark);
//     --c-text-light: white;
//     --c-soft-white: #c1d2d8;
//     --c-accent-beige: #aea386;
//     --c-accent-dark-beige: #615743;
//     --c-accent-light-corn: #5db2d2;
//     --c-accent-dark-corn: #4073b2;
//     --c-accent-darkest: #204285;
//     --c-accent-border: #202535;    
// }

:root {
    --theme-light-bg: #f5faf7;
    --theme-light-primary: #1bb760;
    --theme-light-secondary: #c6dddc;
    --theme-light-accent: #eab741;
    --theme-light-text: #0b150f;
    // Override theme colors with document.documentElement.style.setProperty()
}

/* Computed colors */
:root {
    $shades: 80, 60, 40, 20;
    $colors: primary, secondary, accent;

    @each $c in $colors{
	@each $s in $shades{
	    --c-#{$c}-lighter-#{$s}: color-mix(in hsl, #fff, var(--theme-light-#{$c}) #{100 - $s}%);
	}
    }

    @each $c in $colors{
	@each $s in $shades{
	    --c-#{$c}-darker-#{$s}: color-mix(in hsl, #000, var(--theme-light-#{$c}) #{100 - $s}%);
	}
    }
}

/* semantic color variables for this project */
:root {
    // Element Colors
    --color-subbackground: var(--c-primary-darker-40);
    --color-background: var(--theme-light-bg);
    --color-item-background: var(--theme-light-bg);
    --color-item-alt-background: var(--theme-light-bg);
    --color-item-divider: var(--c-accent-beige);
    --color-item-background-dark: var(--theme-light-primary);
    --color-border: var(--theme-light-secondary);
    --color-shadow: var(--c-secondary-darker-80);
    --color-background-active: var(--c-secondary-lighter-40);

    // Text colors
    --color-heading: var(--theme-light-text);
    --color-text: var(--theme-light-text);
    --color-text-dark: var(--c-accent-20);

    --color-label-bg-dark: var(--theme-light-bg);
    --color-header-bg: var(--c-secondary-darker-80);
    --color-footer-bg: var(--theme-light-text);
}

@mixin dark-colors {
    background: var(--color-background-dark);
    color: var(--color-text-dark);
}

@mixin white-text {
    color: white;
}

@mixin item-shadow {
    box-shadow: 0 1px 3px var(--color-shadow);
}

@mixin hover-brightness($brightness) {
    transition: filter 0.15s;

    &:hover {
	filter: brightness($brightness);
    }
}

@mixin dark-hover {
    @include hover-brightness(80%);
}

@mixin bright-hover {
    @include hover-brightness(120%);
}
