@import "./default_theme.scss";
@import "./base.css";

/* Parent container layout */

#app {
  max-width: 1000px;                                                    
  font-weight: normal;
  margin-inline: auto;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--c-accent-light-corn);
  }
}

/* @media (min-width: 1024px) { */
/*   body { */
/*     display: flex; */
/*     place-items: center; */
/*   } */

/*   #app { */
/*     display: grid; */
/*     grid-template-columns: 1fr 1fr; */
/*     padding: 0 2rem; */
/*   } */
/* } */
