/* Color Palette */
:root {
    --c-bg-darker: #141321;
    --c-bg-dark: #201f27;
    --c-bg-card-light: #dfe0d8;
    --c-bg-card-dark: #18171d;
    --c-bg-panel: #363948;
    --c-text-dark: var(--bg-dark);
    --c-text-light: white;
    --c-soft-white: #c1d2d8;
    --c-accent-beige: #aea386;
    --c-accent-dark-beige: #615743;
    --c-accent-light-corn: #5db2d2;
    --c-accent-dark-corn: #4073b2;
    --c-accent-darkest: #204285;
    --c-accent-border: #202535;    
}

/* semantic color variables for this project */
:root {
    --color-subbackground: var(--c-bg-darker);
    --color-background: var(--c-bg-dark);
    --color-item-background: var(--c-bg-card-dark);
    --color-item-alt-background: var(--c-bg-darker);
    --color-item-divider: var(--c-accent-beige);
    --color-border: var(--c-accent-border);
    --color-shadow: var(--c-bg-card-dark);

    --color-heading: var(--c-text-light);
    --color-text: var(--c-soft-white);
    --color-text-dark: var(--c-bg-card-dark);

    --color-label-bg-dark: var(--c-bg-dark);
    --color-header-bg: var(--c-bg-panel);
}

#app {
    background: var(--color-background);
}

#app > .app-header {
    background: var(--color-header-bg);
    box-shadow: 0 3px 4px var(--color-shadow);
    color: var(--color-text);
}

#app > .app-footer {
    background: var(--c-accent-darkest);
    color: var(--color-text);
    font-size: 16px;
}

/* Base theme styling */
.description.description-dark {
    color: var(--color-text);
}

.description.description-light {
    color: var(--color-text-dark);
}

/* Menuitem style */
.menuitem {
    color: var(--color-text);
    box-shadow: 0 2px 4px var(--color-shadow);
}

.menuitem-title {
    color: white;
    font-size: 1.25rem;
    font-weight: normal;
}

.menuitem-number {
    color: var(--c-accent-beige);
}

.menuitem:active {
    background: var(--c-bg-darker);
}

/* Modal style */
.dmodal {
    background: white;
    color: var(--color-text-dark);
}

.dmodal > .dmodal-header {
    background: var(--color-label-bg-dark);
}

.dmodal > .dmodal-header > .dmodal-titlebar {
    background: var(--color-label-bg-dark);
}
